/* Color Variables */
$color-codepen: #000;
$color-github: #4284c0;
$color-twitter: #2b97f1;
$color-dribbble: #ef5a92;
$color-instagram: #527fa6;
$color-linkedin: #006599;
$color-facebook: #3b5a9b;

/* Social Icon Mixin */
@mixin social-icon($color) {
  background: $color;
  color: #fff;

  .tooltip {
    background: $color;
    color: currentColor;

    &:after {
      border-top-color: $color;
  }
    }
}

/* Social Icons */
.social-icons {
  display: flex;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
  margin: auto;
  

  &:hover {
    color: #fff;

    .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -150%);
    }
  }
    
  &:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  
  &--linkedin { @include social-icon($color-linkedin); }
  &--twitter { @include social-icon($color-twitter); }
  &--codepen { @include social-icon($color-codepen); }
  &--facebook { @include social-icon($color-facebook); }
  &--instagram { @include social-icon($color-instagram); }
  &--dribbble { @include social-icon($color-dribbble); }
  &--github { @include social-icon($color-github); }
  
  i {
    position: relative;
    top: 1px;
  }
}

/* Tooltips */
.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
  
  &:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
}

@import "bourbon";

// variables - colors

$main-text: #505260; // main text
$background: #fff; // body background color

$color-1: #343642; // blue-dark
$color-2: #2f889a; // blue-light
$color-3: #d2d8d8; // grey

$red: #d76666; // error messages

// variables - fonts 

$primary-font: 'PT Sans', sans-serif;

// variables - z-index

$header-zindex: 2;
$modal-zindex: 3;

// variables - header

$header-height-S: 50px;
$header-height-M: 80px;

// mixins - rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// mixins - center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// mixins - border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// layout - breakpoints

$S:     600px;   
$M:     768px;     
$L:     1170px;     

// layout - media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// layout - super light grid - it works with the .cd-container class

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font;
	}
	color: $main-text;
	background-color: $background;
}

a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}

input, textarea {
	font-family: $primary-font;
	@include font-size(16px);

	&::-ms-clear {
    	display: none;
	}
}

/* -------------------------------- 

Main components 

-------------------------------- */

header[role=banner] {
	position: relative;
	height: $header-height-S;
	background: $color-1;

	#cd-logo {
		float: left;
		margin: 4px 0 0 5%;

		/* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
		@include transform-origin(0 50%);
		@include transform(scale(.8));

		img {
			display: block;
		}
	}

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}

	@include MQ(M) {
		height: $header-height-M;

		#cd-logo {
			margin: 20px 0 0 5%;
			@include transform(scale(1));
		}
	}
}

.main-nav {
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-menu.svg') no-repeat center center;
	cursor: pointer;

	ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		@include transform(translateY(-100%));

		&.is-visible {
			@include transform(translateY($header-height-S));
		}
	}

	a {
		display: block;
		height: $header-height-S;
		line-height: $header-height-S;
		padding-left: 5%;
		background: darken($color-1, 5%);
		border-top: 1px solid lighten($color-1, 3%);
		color: #FFF;
	}

	@include MQ(M) {
		width: auto;
		height: auto;
		background: none;
		cursor: auto;

		ul {
			position: static;
			width: auto;
			@include transform(translateY(0));
			line-height: $header-height-M;

			&.is-visible {
				@include transform(translateY(0));
			}
		}

		li {
			display: inline-block;
			margin-left: 1em;

			&:nth-last-child(2) {
				margin-left: 2em;
			}
		}

		a {
			display: inline-block;
			height: auto;
			line-height: normal;
			background: transparent;

			&.cd-signin, &.cd-signup {
				padding: .6em 1em;
				border: 1px solid rgba(#FFF, .6);
				border-radius: 50em;
			}

			&.cd-signup {
				background: $color-2;
				border: none;
			}
		}
	}
}

/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */


.cd-user-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($color-1, .9);
	z-index: $modal-zindex;
	overflow-y: auto;
	cursor: pointer;

	visibility: hidden;
	opacity: 0;
	@include transition(opacity .3s 0, visibility 0 .3s);

	&.is-visible {
		visibility: visible;
		opacity: 1;

		@include transition(opacity .3s 0, visibility 0 0);

		.cd-user-modal-container {
			@include transform(translateY(0));
		}
	}
}

.cd-user-modal-container {
	position: relative;
	width: 90%;
	max-width: 600px;
	background: #FFF;
	margin: 3em auto 4em;
	cursor: auto;
	@include border-radius;
	@include transform(translateY(-30px));

	@include transition-property (transform);
	@include transition-duration(.3s);

	.cd-switcher {
		@include clearfix;

		li {
			@include column(.5);
			text-align: center;

			&:first-child a {
				border-radius: .25em 0 0 0;
			}

			&:last-child a {
				border-radius: 0 .25em 0 0;
			}
		}

		a {
			display: block;
			width: 100%;
			height: 50px;
			line-height: 50px;
			background: $color-3;
			color: darken($color-3, 30%);

			&.selected {
				background: #FFF;
				color: $main-text;
			}
		}
	}

	@include MQ(S) {
		margin: 4em auto;

		.cd-switcher a {
			height: 70px;
			line-height: 70px;
		}
	}
}

.cd-form {
	padding: 1.4em;

	.fieldset {
		position: relative;
		margin: 1.4em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	label {
		@include font-size(14px);

		&.image-replace {
			/* replace text with an icon */
			display: inline-block;
			position: absolute;
			left: 15px;
			@include center(y);
			height: 20px;
			width: 20px;

			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			color: transparent;
			text-shadow: none;

			background-repeat: no-repeat;
			background-position: 50% 0;
		}

		&.cd-username {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-username.svg');
		}

		&.cd-email {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg');
		}

		&.cd-password {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg');
		}
	}

	input {
		margin: 0;
		padding: 0;
		@include border-radius;

		&.full-width {
			width: 100%;
		}

		&.has-padding {
			padding: 12px 20px 12px 50px;
		}

		&.has-border {
			border: 1px solid $color-3;
			@include appearance(none);

			&:focus {
				border-color: $color-1;
				box-shadow: 0 0 5px rgba($color-1, .1);
				outline: none;
			}
		}

		&.has-error {
			border: 1px solid $red;
		}

		&[type=password] { 
			/* space left for the HIDE button */
			padding-right: 65px; 
		}

		&[type=submit] {
			padding: 16px 0;
			cursor: pointer;
			background: $color-2;
			color: #FFF;
			font-weight: bold;
			border: none;
			@include appearance(none);

			.no-touch &:hover, .no-touch &:focus {
				background: lighten($color-2, 5%);
				outline: none;
			}
		}
	}

	.hide-password {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 6px 15px;
		border-left: 1px solid $color-3;
		@include center(y);
		@include font-size(14px);
		color: $color-1;
	}

	.cd-error-message {
		display: inline-block;
		position: absolute;
		left: -5px;
		bottom: -35px;
		background: rgba($red, .9);
		padding: .8em;
		z-index: 2;
		color: #FFF;
		@include font-size(13px);
		@include border-radius;

		/* prevent click and touch events */
		pointer-events: none;

		visibility: hidden;
		opacity: 0;

		@include transition(opacity .2s 0, visibility 0 .2s);

		&::after {
			/* triangle */
			content: '';
			position: absolute;
			left: 22px;
			bottom: 100%;
			@include triangle(16px, rgba($red, .9), up);
		}

		&.is-visible {
			opacity: 1;
			visibility: visible;

			@include transition(opacity .2s 0, visibility 0 0);
		}
	}

	@include MQ(S) {
		padding: 2em;

		.fieldset {
			margin: 2em 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		input.has-padding {
			padding: 16px 20px 16px 50px;
		}

		input[type=submit] {
			padding: 16px 0;
		}
	}
}

.cd-form-message {
	padding: 1.4em 1.4em 0;
	@include font-size(14px);
	line-height: 1.4;
	text-align: center;

	@include MQ(S) {
		padding: 2em 2em 0;
	}
}

.cd-form-bottom-message {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -30px;
	text-align: center;
	@include font-size(14px);

	a {
		color: #FFF;
		text-decoration: underline;
	}
}

.cd-close-form {
	/* form X button on top right */
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	top: -40px;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-close.svg') no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

	@include MQ(L) {
		display: none;
	}
}

#cd-login, #cd-signup, #cd-reset-password {
	display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
	display: block;
}


@media (min-width: 576px){
  .modal-dialog {
    max-width: 400px;
    
    .modal-content {
      padding: 1rem;
    }
  }
}



@keyframes cdp-in {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.cdp {
  position: relative;
  text-align: center;
  padding: 20px 0;
  font-size: 0;
  z-index: 6;
  margin: 50px 0;
  
  animation: cdp-in 500ms ease both;
  animation-timeout: 200ms;

  &_i {
    font-size: 14px;
    text-decoration: none;
    
    transition: background 250ms;
    
    display: inline-block;
    text-transform: uppercase;
    margin: 0 3px 6px;
    height: 38px;
    min-width: 38px;
    border-radius: 38px;
    border: 2px solid #fff;
    line-height: 38px;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: .03em;
    display: none;

    &:first-child,
    &:last-child {
      padding: 0 16px;
      margin: 0 12px 6px;
    }

    &:last-child,
    &:nth-child(2),
    &:nth-last-child(2) {
      display: inline-block;
    }
  }

  &_i:hover {
    background-color: #000;
    color: #fff;
  }

  &:not([actpage="1"]) &_i:nth-child(1) {
    display: inline-block;
  }
}
@for $i from 1 through 80 {
  .cdp[actpage="#{$i}"] {
    // 3 before
    .cdp_i:nth-child(#{$i - 2}):not(:first-child):not(:nth-child(2)) {
      display: inline-block;
      pointer-events: none;
      color: transparent;
      border-color: transparent;
      width: 50px;
      &:after {
        content: '...';
        color: #fff;
        font-size: 32px;
        margin-left: -6px;
      }
    }
    // 2 before
    .cdp_i:nth-child(#{$i - 1}):not(:first-child) {
      display: inline-block;
    }
    // before
    .cdp_i:nth-child(#{$i}):not(:first-child) {
      display: inline-block;
    }
    // active
    .cdp_i:nth-child(#{$i + 1}) {
      background-color: #000;
      color: #fff;
      display: inline-block;

      +.cdp_i:last-child {
        display: none !important;
      }
    }
    // next
    .cdp_i:nth-child(#{$i + 2}):not(:last-child) {
      display: inline-block;
    }
    // 2 next
    .cdp_i:nth-child(#{$i + 3}):not(:last-child) {
      display: inline-block;
    }
    // 3 next
    .cdp_i:nth-child(#{$i + 4}):not(:last-child):not(:nth-last-child(2)) {
      display: inline-block;
      pointer-events: none;
      color: transparent;
      border-color: transparent;
      width: 50px;
      &:after {
        content: '...';
        color: #fff;
        font-size: 32px;
        margin-left: -6px;
      }
    }
  }
}

@font-face {
	font-family: 'icomoon';
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2');
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2') format('embedded-opentype'),
		url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2') format('woff'),
		url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2') format('truetype'),
		url('fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.social-networks {
  margin: 0 0 35px;
  padding: 0;
  font-size: 0;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    display: block;
    position: relative;
    margin: 0 7px;
    width: 68px;
    height: 68px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin-top: -50%;
      margin-left: -50%;
      border-radius: 100px;
      background-color: #1f2027;
      transition: all 400ms;
    }

    &:after {
      position: relative;
      display: block;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: #fff;
      font-size: 26px;
      line-height: 66px;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
  
  &.spin-icon a:hover:after, &.spin-icon a:focus:after {
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg);
  }
  
  &.square a:hover:before, &.square a:focus:before {
    border-radius: 0;
  }
  
  &.bounce a:hover, &.bounce a:focus {
    animation: bounce 1s;
  }
  
  $networks: linkedin '\eac9' #0077b5, facebook '\e603' #3b5998, twitter '\e618' #00b0ed, github '\eab1' #4183c4, instagram '\e604' #3f729b, vimeo '\ea9c' #1ab7ea, twitch '\ea9b' #6441a5, pinterest '\e605' #cc2127;
  
  @each $network in $networks {
     .icon-#{nth($network, 1)} {
       &:after {
         content: '#{nth($network, 2)}';
      }

      &:hover:before, &:focus:before {
        background: nth($network, 3);
      }
    }
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -6px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -4px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}

/* Extra stuff just to make the demo pretty. */

a {
  color: #4183c4;
  text-decoration: none;
  
  &:hover {
    color: lighten(#4183c4, 15%);
  }
}